.repository {
  width: 80%;
}

.repository__header p, .repository__header img  {
  height: 40px;
}

.repository__header img {
  width: 40px;
  border-radius: 50%;
}

.repository__body {
  padding: 1rem;
  border: 1px solid #C6C6C6;
}

@media screen and (min-width: 1400px) {
  .repository {
    width: 50%;
  }
}
