<div>
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">FindRepositories</a>
        <form class="d-flex">
          <input 
            class="form-control me-2" 
            type="search" 
            placeholder="Search" 
            aria-label="Search"
            ng-model="repositoryName"
            />
          <button 
            class="btn btn-outline-success" 
            type="submit"
            ng-click="searchRepository(repositoryName)"
            >Search</button>
        </form>
      </div>
    </nav>
  </header>


  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="repository mt-3" ng-repeat="repository in repositories">

      <div class="repository__header mt-2 d-flex align-items-center">
        <img ng-src="{{repository.owner.avatar_url}}" alt="{{ repository.owner.login }}">
        <p>{{ repository.owner.login }}</p>
      </div>

      <div class="repository__body mt-1">
        <p>{{ repository.full_name }}</p>
        <p>{{ repository.description }}</p>
      </div>

      <div class="border-bottom"></div>

    </div>
  </div>
</div>
