<div class="container details">
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" ng-href="/">Home</a>
      </div>
    </nav>
  </header>

  <div class="d-flex flex-column mt-4 details__header">
    <div class="details__title">
      <img ng-src="{{repository.owner.avatar_url}}" alt="{{repository.owner.login}}">
      <h1 class="p-1"><a ng-href="{{repository.html_url}}">{{ repository.full_name }}</a></h1>
    </div>

    <div class="mt-4">
      <h4>Description</h4>
      <p>{{repository.description}}</p>
    </div>
  </div>

  <div class="details__body">

    <div class="details__clone">
      <h4>Clone</h4>
      <p>HTTPS: {{ repository.clone_url }}</p>
      <p>SSH: {{ repository.ssh_url}}</p>
    </div>

    <div class="details__languages">
      
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Languages
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p ng-repeat="language in languages">{{language}}</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              More repositories from {{ repository.owner.login }}
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p ng-repeat="moreRepository in moreRepositories">
                <a ng-href="/details/{{moreRepository.owner.login}}/{{moreRepository.name}}">
                  {{ moreRepository.full_name }}
                </a>
              </p>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>

</div>