.details {
  width: 80%;
  margin: 0 auto;
}

.details__header img {
  width: 100px;
  height: 100px;
}

.details__header h1 {
  margin: 0;
  padding: 0;
  align-self: center;
}

.details__title {
  display: flex;
}

@media screen and (min-width: 1400px) {
  .details {
    width: 50%;
  }
  
}
