<div>
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">FindRepositories</a>
        <form class="d-flex">
          <input 
            class="form-control me-2" 
            type="search" 
            placeholder="Search" 
            aria-label="Search"
            ng-model="repositoryName"
            />
          <button 
            class="btn btn-outline-success" 
            type="submit"
            ng-click="searchRepository(repositoryName)"
            >Search</button>
        </form>
      </div>
    </nav>
  </header>
</div>